<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.colaborotech.thehinduwedlock">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.colaborotech.thehinduwedlock.TheHinduWedLockApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name="com.colaborotech.thehinduwedlock.activity.SplashActivty">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.colaborotech.thehinduwedlock.activity.LoginActivity" />
        <activity
            android:name="com.colaborotech.thehinduwedlock.activity.SearchActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="com.colaborotech.thehinduwedlock.activity.DrawerActivity"
            android:launchMode="singleTask" />

        <activity android:name="com.colaborotech.thehinduwedlock.activity.CreateForRegister" />
        <activity android:name="com.colaborotech.thehinduwedlock.activity.PersonalDetailActivity" />
        <activity android:name="com.colaborotech.thehinduwedlock.activity.CareerDetailActivity" />
        <activity android:name="com.colaborotech.thehinduwedlock.activity.SocialDetailActivity" />
        <activity android:name="com.colaborotech.thehinduwedlock.activity.LoginDetailActivity" />

        <activity android:name="com.colaborotech.thehinduwedlock.activity.WriteAboutActivity" />
        <activity android:name="com.colaborotech.thehinduwedlock.activity.FamilyDetailActivity" />
        <activity android:name="com.colaborotech.thehinduwedlock.activity.ActivityVerifyNumber" />

        <activity android:name="com.colaborotech.thehinduwedlock.activity.ProfileListActivity" />
        <activity android:name="com.colaborotech.thehinduwedlock.activity.ProfileDetailActivity" />

        <activity android:name=".activity.InterestsActivity" />
        <activity android:name="com.colaborotech.thehinduwedlock.activity.ProfileEditActivity" />
        <activity android:name="com.colaborotech.thehinduwedlock.activity.BasicDetailActivity" />
        <activity android:name="com.colaborotech.thehinduwedlock.activity.EthinicityActivity" />
        <activity android:name="com.colaborotech.thehinduwedlock.activity.AppearanceActivity" />
        <activity android:name="com.colaborotech.thehinduwedlock.activity.SpclCaseActivity" />
        <activity android:name="com.colaborotech.thehinduwedlock.activity.CollegeDetailActivity" />
        <activity android:name="com.colaborotech.thehinduwedlock.activity.EditCareerDetailActivity" />
        <activity android:name="com.colaborotech.thehinduwedlock.activity.EditFamilyDetailActivity" />
        <activity android:name="com.colaborotech.thehinduwedlock.activity.ParentsActivity" />
        <activity android:name="com.colaborotech.thehinduwedlock.activity.SbilingsActivity" />
        <activity android:name="com.colaborotech.thehinduwedlock.activity.EnterDataActivity" />
        <activity android:name="com.colaborotech.thehinduwedlock.activity.HabitsActivity" />
        <activity android:name="com.colaborotech.thehinduwedlock.activity.AssetsActivity" />
        <activity android:name="com.colaborotech.thehinduwedlock.activity.SkillsActivity" />
        <activity android:name="com.colaborotech.thehinduwedlock.activity.FavouriteActivity" />
        <activity android:name="com.colaborotech.thehinduwedlock.activity.VerificationScreenActivity" />
        <activity android:name="com.colaborotech.thehinduwedlock.activity.MobileVerificationActivity" />
        <activity android:name="com.colaborotech.thehinduwedlock.activity.AcceptedMembersActivity" />
        <activity android:name="com.colaborotech.thehinduwedlock.activity.SearchByIdActivity" />
        <activity android:name="com.colaborotech.thehinduwedlock.activity.JustJoinedActivity" />
        <activity android:name="com.colaborotech.thehinduwedlock.activity.SavedSearchActivity" />
        <activity android:name="com.colaborotech.thehinduwedlock.activity.AboutUsActivity" />
        <activity android:name="com.colaborotech.thehinduwedlock.activity.ContactUsActivity" />
        <activity android:name="com.colaborotech.thehinduwedlock.activity.SettingsActivity" />
        <activity android:name="com.colaborotech.thehinduwedlock.activity.HelpActivity" />
        <activity android:name="com.colaborotech.thehinduwedlock.activity.DeclinedActivity" />
        <activity android:name="com.colaborotech.thehinduwedlock.activity.BlockedActivity" />
        <activity android:name="com.colaborotech.thehinduwedlock.activity.MessageActivity" />
        <activity android:name="com.colaborotech.thehinduwedlock.activity.ShortListProfileActivity" />
        <activity android:name="com.colaborotech.thehinduwedlock.activity.WhoViewMyContactActivity" />
        <activity android:name="com.colaborotech.thehinduwedlock.activity.PhoneBookActivity" />


        <service
            android:name=".service.MyUploadService"
            android:exported="false" />
    </application>

</manifest>