<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.colaborotech.thehinduwedlock">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".TheHinduWedLockApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".activity.SplashActivty">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.LoginActivity" />
        <activity
            android:name=".activity.SearchActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.DrawerActivity"
            android:launchMode="singleTask" />

        <activity android:name=".activity.CreateForRegister" />
        <activity android:name=".activity.PersonalDetailActivity" />
        <activity android:name=".activity.CareerDetailActivity" />
        <activity android:name=".activity.SocialDetailActivity" />
        <activity android:name=".activity.LoginDetailActivity" />

        <activity android:name=".activity.WriteAboutActivity" />
        <activity android:name=".activity.FamilyDetailActivity" />
        <activity android:name=".activity.ActivityVerifyNumber" />

        <activity android:name=".activity.ProfileListActivity" />
        <activity android:name=".activity.ProfileDetailActivity" />

        <activity android:name=".activity.InterestsActivity" />
        <activity android:name=".activity.ProfileEditActivity" />
        <activity android:name=".activity.BasicDetailActivity" />
        <activity android:name=".activity.EthinicityActivity" />
        <activity android:name=".activity.AppearanceActivity" />
        <activity android:name=".activity.SpclCaseActivity" />
        <activity android:name=".activity.CollegeDetailActivity" />
        <activity android:name=".activity.EditCareerDetailActivity" />
        <activity android:name=".activity.EditFamilyDetailActivity" />
        <activity android:name=".activity.ParentsActivity" />
        <activity android:name=".activity.SbilingsActivity" />
        <activity android:name=".activity.EnterDataActivity" />
        <activity android:name=".activity.HabitsActivity" />
        <activity android:name=".activity.AssetsActivity" />
        <activity android:name=".activity.SkillsActivity" />
        <activity android:name=".activity.FavouriteActivity" />
        <activity android:name=".activity.VerificationScreenActivity" />
        <activity android:name=".activity.MobileVerificationActivity" />
        <activity android:name=".activity.AcceptedMembersActivity" />
        <activity android:name=".activity.SearchByIdActivity" />
        <activity android:name=".activity.JustJoinedActivity" />
        <activity android:name=".activity.SavedSearchActivity" />
        <activity android:name=".activity.AboutUsActivity" />
        <activity android:name=".activity.ContactUsActivity" />
        <activity android:name=".activity.SettingsActivity" />
        <activity android:name=".activity.HelpActivity" />
        <activity android:name=".activity.DeclinedActivity" />
        <activity android:name=".activity.BlockedActivity" />
        <activity android:name=".activity.MessageActivity" />
        <activity android:name=".activity.ShortListProfileActivity" />
        <activity android:name=".activity.WhoViewMyContactActivity" />
        <activity android:name=".activity.PhoneBookActivity" />


        <service
            android:name=".service.MyUploadService"
            android:exported="false" />
    </application>

</manifest>